body {
	min-height: 100vh;
	margin: 0;

	font-family: sans-serif;
	background-color: #1c1c1c;
	color: #c6c6c6;
}

h1 {
	margin-bottom: 0;
}

.avi {
	border-radius: 500px;
	max-width: 200px;
}

.socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5px;
}

.socials img {
	width: 32px;
	height: 32px;
}

.content {
	position: relative;
}

.background {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('profile.jpg');
	background-position: center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.background::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	z-index: -1;
}
